<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>
<ul>

<% @categories.each do |category| %>
<div class="post">
<li><%= link_to category.name, category %></td></li>
</div>
<% end %>
</ul>
