<DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html>

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>My Ruby Blog | Sample Project</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abel" type="text/css" />
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" /> </head>

    <body>
        <div id="wrapper">
            <div id="header-wrapper">
                <div id="header">
                    <div id="logo">
                        <h1><a href="#">My Ruby Blog</a></h1>
                        <p>Learing Ruby on Rails</p>
                    </div>
                    <div id="menu">
                        <ul>
                            <li class="current_page_item"><a href="index.html">Home</a>
                            </li>
                            <li><a href="about.html">About</a>
                            </li>
                            <li><a href="blog.html">Blog</a>
                            </li>
                            <li><a href="contact.html">Contact</a>
                            </li>
                            <li><a href="login.html">Log in</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end #header -->
            <div id="page">
                <div id="page-bgtop">
                    <div id="page-bgbtm">
                        <div id="content">
                            <div class="post">
                                <h2 class="title"><a href="post.html">Welcome to My Ruby Blog </a></h2>
                                <div class="entry">
                                    <p>This is a sample project for the Ruby on Rails video series. It is a person blog that is written by me.</p>
                                </div>
                                <div class="byline">
                                    <p class="meta">May 07, 2012 Posted by <a href="#">Someone</a>
                                    </p>
                                    <p class="links"><a href="post.html">Read More</a> BLAH BLAH BLAH</p>
                                </div>
                            </div>
                            <div class="post">
                                <h2 class="title"><a href="post.html">LOREM FROM THE LORD OF THE RINGS </a></h2>
                                <div class="entry">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus perspiciatis qui repellat, aperiam amet dignissimos soluta inventore exercitationem impedit excepturi vero et ea dolore voluptas enim suscipit id quo hic.</p>
                                </div>
                                <div class="byline">
                                    <p class="meta">May 01, 2012 Posted by <a href="#">Gandalf the Grey</a>
                                    </p>
                                    <p class="links"><a href="post.html">Read More</a> BLAH BLAH BLAH</p>
                                </div>
                            </div>
                            <div class="post">
                                <h2 class="title"><a href="post.html">Straight out of Williamsburg</a></h2>
                                <div class="entry">
                                    <p>Vinyl Marfa Godard, cornhole wolf sriracha Brooklyn hella fashion axe crucifix pour-over selfies. PBR selfies health goth paleo, Williamsburg heirloom literally chillwave hoodie banh mi migas gluten-free fashion axe cronut. Tofu bespoke church-key, fap swag health goth roof party cray craft beer. Sriracha cornhole tofu, Williamsburg cardigan chillwave roof party Banksy sustainable High Life hoodie retro Etsy irony. Pop-up brunch literally, raw denim Marfa banh mi deep v flannel four loko small batch art party meggings Godard blog. Irony shabby chic gentrify street art. Shabby chic cred cronut, mumblecore raw denim XOXO meh hoodie occupy McSweeney's banh mi DIY tofu artisan.</p>
                                </div>
                                <div class="byline">
                                    <p class="meta">Oct 20, 2012 Posted by <a href="#">A Hipster</a>
                                    </p>
                                    <p class="links"><a href="post.html">Read More</a> BLAH BLAH BLAH</p>
                                </div>
                            </div>
                            <div style="clear: both;">&nsbp;</div>
                        </div>
                        <!-- end #content -->
                        <div id="sidebar">
                            <ul>
                                <li>
                                    <div id="search">
                                        <form method="get" action="#">
                                            <div>
                                                <input type="text" name="s" id="sear-text" value="" />
                                                <input type="submit" id="search-submit" value="GO" /> </div>
                                        </form>
                                    </div>
                                    <div style="clear: both;">&nsbp;</div>
                                </li>
                                <li>
                                    <h2>Get The Framework</h2>
                                    <p>You can download Ruby and/or Ruby on Rails for free right now
                                        <br>
                                        <a style="color:#D93544" href="http://rubyonrails.org/download"></a>
                                    </p>
                                </li>
                                <li>
                                    <h2>Categories</h2>
                                    <ul>
                                        <li><a href="#">Ruby Programming Language</a>
                                        </li>
                                        <li><a href="#">Ruby on Rails Framework</a>
                                        </li>
                                        <li><a href="#">MVC Stuff</a>
                                        </li>
                                        <li><a href="#">Lurn Linux</a>
                                        </li>
                                        <li><a href="#">Other Languages</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h2>Blogroll</h2>
                                    <ul>
                                        <li><a href="#">Blog Post</a>
                                        </li>
                                        <li><a href="#">Blog Post</a>
                                        </li>
                                        <li><a href="#">Blog Post</a>
                                        </li>
                                        <li><a href="#">Blog Post</a>
                                        </li>
                                        <li><a href="#">Blog Post</a>
                                        </li>
                                        <li><a href="#">Blog Post</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- end #sidebar -->
                        <div style="clear: both;">&nsbp;</div>
                    </div>
                </div>
            </div>
            <!-- end #page-->
            <div id="footer">
                <p>&Copy: 2013, My Ruby Blog -Sample Project</p>
            </div>
            <!-- en #footer-->
        </div>
        <!-- end #wrapper-->
    </body>

    </html>